/*
 p {
        color:red;
        font-weight:bold;
        font-size:66px;
    }*/
p {
    
 color:red;   
    
}

h1{
    
    
 color:red;    
    
}


p,h1,h4{ 
    
   color:red; 
}

div p{
    
    color:blue;
    
}

#first-para{
   color:yellow; 
    
}

.first-para{
   color:purple; 
}
    
div {
    
    border:4px solid red;
    background: purple;
    color:white;
    width: 50%;
    float:right;
    border-radius: px;
    margin: 40px;
    padding: 20px;
    
    }    

div ul {
    
    list-style-type:none;
    list-style-type:square;
    list-style-type:none;
}

div h1{
    color:greenyellow
}


















